<script src="/bower_components/hoquet/index.js"></script>
<script>
(() => {
    window.Nclk = window.Nclk || Object.create(null);
    window.Nclk.Hoquet = (C) => {

        const ownerDocument = (
            document._currentScript || document.currentScript
        ).ownerDocument;
        const _templates = ownerDocument.querySelectorAll("template");

        return class extends C {

            get template() { return ""; };

            get templates() {
                return _templates;
            }

            hoquet(template) {
                return Hoquet.render(
                    typeof template === "undefined"
                        ? this.template
                        : template
                );
            }

            appendTemplateContent() {
                const templates = this.templates;

                Array.prototype.forEach.call(templates, x => this.shadowRoot.appendChild(
                    document.importNode(x.content, true)
                ));
            }

            render() {
                let shadow = this.shadowRoot || this.attachShadow({mode:"open"});

                this.shadowRoot.innerHTML = this.hoquet();
                this.appendTemplateContent(shadow);
            }

        }
    }

})()

</script>
